<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace表示命名空间 -->
<mapper namespace="edu.sandau.chat.dao.mapper.UserMapper">

    <select id="login" parameterType="java.lang.String" resultType="User">
        select * from user where ${loginValue} = #{loginName} and password = #{password}
    </select>

    <select id="count" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from user where ${column} = #{value}
    </select>

    <select id="searchUser" parameterType="java.lang.String" resultType="userVO">
        select id, name, gender, head_portrait from user where ${column} like concat('%', #{value}, '%' ) and id != #{currentId};
    </select>

    <resultMap type="edu.sandau.chat.vo.UserVO" id="userVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="nickname" property="nickname" />
        <result column="head_portrait" property="headPortrait" />
    </resultMap>

</mapper>
